@import 'components/header';
@import 'components/content';
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Pangolin&display=swap');
body{
    // background-color: #242d40;
    // background-color: #272230;
    background-color: #f3f9f6;
    height: 200vh;
    // overflow-x: hidden;

}